.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

ul.links {
  padding-bottom: 20px;
}
li {
  list-style-type: none;
}

.colored_frame_1 {
  border-style: solid;
  border-color: lawngreen;
}

.colored_frame_2 {
  border-style: solid;
  border-color: red;
}
