<div style="text-align:center">
  <h1>
    GPS Location and Camera Access
  </h1>
  <h2>
    Location
  </h2>
  <div id="getLocation">
    <button class="actionBtn" (click)="getGeoLocation();">get geo location</button>
    <p *ngIf="singlePosition">[Lat: {{singlePosition.coords.latitude}} Lon: {{singlePosition.coords.longitude}} Alt:
      {{singlePosition.coords.altitude}}] Accuracy: {{singlePosition.coords.accuracy}} Time:
      {{toLocaleString(singlePosition.timestamp)}}
    </p>
    <p *ngIf="singlePosition">[Relative to my desk: Lat: {{singlePosition.coords.latitude-47.398912}} Relative Lon:
      {{singlePosition.coords.longitude-8.5131264}}
    </p>
  </div>
  <div id="trackLocation">
    <button class="actionBtn" (click)="trackGeoLocation();">track geo location</button>
    <p *ngIf="trackedPosition">[Lat: {{trackedPosition.coords.latitude}} Lon: {{trackedPosition.coords.longitude}} Alt:
      {{trackedPosition.coords.altitude}}] Accuracy: {{trackedPosition.coords.accuracy}} Time:
      {{toLocaleString(trackedPosition.timestamp)}}</p>
    <button class="actionBtn" (click)="stopTrackingGeoLocation();">Stop tracking geo location</button>
  </div>
  <h4 *ngIf="geoErrors.length > 0">Messages:</h4>
  <ul *ngFor="let error of geoErrors">
    <li>{{error | json}}</li>
  </ul>

  <h2>
    Cam
  </h2>
  <div>
    <p>In the actual implementation geo location will presumably be tracked automatically, the buttons above are there just for demo purposes</p>
    <div>
      <button class="actionBtn" (click)="triggerSnapshot();">Take a picture
      </button>
    </div>
    <div>
      <webcam [height]="500" [width]="500" [trigger]="snapshotTriggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"
              (imageClick)="triggerSnapshot()"
      >
      </webcam>
    </div>
  </div>
  <h2>Pictures</h2>
  <div class="snapshot" *ngIf="captures.length">
    <p>Click on preview images to mark them for deletion or upload: Border toggles to green - red - none.</p>
    <ul>
      <li>green: select</li>
      <li>red: delete</li>
      <li>none: do nothing</li>
    </ul>
    <ul>
      <li *ngFor="let capture of captures; let i = index">
        <img [src]="capture.webcamImage.imageAsDataUrl" height="50" alt="image just taken" (click)="toggleWebcamImageState(i)"
             [class]="'colored_frame_'+capture.status"/>
        <button class="actionBtn" (click)="selectForDrawingOnto(i)">Draw box onto this image</button>
      </li>
    </ul>
  </div>
  <button *ngIf="captures.length" (click)="removeUnwantedWebImages();">Remove unwanted images</button>
  <button *ngIf="captures.length" (click)="uploadChosenWebImages();">Send chosen images</button>

  <div class="imageWithRectangle" *ngIf="captures.length">
    <img [src]="captures[captureIndex].webcamImage.imageAsDataUrl" height="500" alt="image with rectangle"
         (click)="onClick($event)"
         (mousemove)="onMouseMove($event)">
    <div *ngIf="captures[captureIndex].issueBox.state" class="issueBox"
         [style.top.px]="getRectangleTop()"
         [style.left.px]="getRectangleLeft()"
         [style.width.px]="getRectangleWidth()"
         [style.height.px]="getRectangleHeight()">
    </div>
    <ng-container *ngIf="captures.length">
      <p *ngIf="captures[captureIndex].issueBox as box">state:{{captures[captureIndex].issueBox.state}} ({{captures[captureIndex].issueBox.x1}},
        {{captures[captureIndex].issueBox.y1}}),
        ({{captures[captureIndex].issueBox.x2}}, {{captures[captureIndex].issueBox.y2}})

        {{box.x1}}
      </p>
    </ng-container>

  </div>

  <h4 *ngIf="webcamErrors.length > 0">Messages:</h4>
  <ul *ngFor="let error of webcamErrors">
    <li>{{error | json}}</li>
  </ul>
</div>




