.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

ul.links {
  padding-bottom: 20px;
}
li {
  list-style-type: none;
}

.colored_frame_0 {
  border-style: solid;
  border-color: transparent;
}

.colored_frame_1 {
  border-style: solid;
  border-color: lawngreen;
}

.colored_frame_2 {
  border-style: solid;
  border-color: red;
}

.imageWithRectangle {
  position: relative;
}

.issueBox {
  pointer-events: none;
  position: absolute;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
}

.miniature {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.miniature button{
  margin: 4px;
}
